body {
    height: 100vh;
}
nav {
    background-color: $negronav;




}

footer {
    font-family: JUST;

    background-color: $negronav;
    text-decoration: none;
 }
li {
    list-style: none;

    text-decoration: none;
 }
